
body{
    background-color: whitesmoke;
}
.header {
  background-color: aliceblue;
  width: 100%;
  height: auto;
  display: flex;
  justify-content:space-between;

}
.header #logo img{
    height: 60px; 
    width: 80px;
    }
.header #social img{
        height: 50px; 
        width: 50px;
        }
 .header #search {
            
            }
           li{
               list-style: none;
            }
    #social img{
        display: inline;
      
    }
    .nav {
        display: flex;
   justify-content: space-between;
    }
    .nav li{
        background-color: darkgreen;
        border-radius: 10px;
        overflow: hidden;
        width: auto;
    }
    .dog_pic{
        background-image: url(images/pet1.jpg);
        overflow: hidden; 
        width: 100%;
        background-size: cover;
        

    }
    