
body{
    background-color: whitesmoke;
}
.header {
  background-color: aliceblue;
  width: 100%;
  height: auto;
  display: flex;
  justify-content:space-between;

}
.header #logo img{
    height: 60px; 
    width: 80px;
    }
.header #social img{
        height: 50px; 
        width: 50px;
        }
 .header #search {
            
            }
           li{
               list-style: none;
            }
  